.open-sans-simple {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared style */
.btn-primary {

    background-color: #FD6E0A;

    font-size: 20px;
    border-radius: 5px;
    border-style: none;
    color: white;
}

.main-head {
    font-size: 35px;
    font-weight: 800;
}

.all-descreption {
    font-size: 16px;
    color: #757575;
    margin-top: 30px;

}

.shared-bg {
    background-color: #FFF8F3;

}

header {
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
}

/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-1 {
    width: 150px;
    height: 64px;
}

.nav-titale {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

nav ul {

    display: flex;
    margin-right: 230px;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 20px;
}

.dark-2 {
    color: #474747;
}

nav ul li {
    margin-left: 51px;
    list-style: none;

}

nav h3 {
    margin-left: 230px;
}

/* banner style */
.banner {
    display: flex;
}

.banner-greathings {
    font-size: 45px;
    font-weight: 600;
}

.banner-name {
    font-size: 85px;
    font-weight: 800;
    margin-bottom: 20px;
}

.dadk-1 {
    color: #181818;
}

.btn-2 {
    width: 200px;
    height: 64px;
    margin-right: 30px;
}

.btn-3 {
    width: 160px;
    height: 64px;
}

.banner-contain {
    margin-left: 230px;
}

/* main style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    text-align: center;
    padding: 131px 156px;
    margin-top: 130px;

}

.about-title {
    font-size: 20px;
    color: #757575;
}

.about-describtion {
    font-size: 20px;
    font-weight: 600;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

/* skills section style */
.skills-section {
    display: flex;
    gap: 25px;
    margin-top: 50px;
}

.skill {
    border-radius: 5px;
    height: 377px;
    width: 267px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    border-radius: 5px;
}

.What-I-Do {
    margin-top: 130px;
    text-align: center;
}

.skill-section p {
    text-align: center;
}

.skill-title {
    font-size: 20px;
    font-weight: 600;
}

/* resume section style */
.resume-all {
    display: flex;
    gap: 80px;
    margin-bottom: 75px;
}

.resume h2 {
    text-align: center;
    margin-top: 70px;

}

.resume-describtion {
    text-align: left;
}

.resume-cullom-mattrial {
    width: 511px;
}

.resume-cullom-mattrial h3 {
    font-size: 25px;
    font-weight: 600;
}

.resume-cullom-mattrial h5 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 10px;
}

.down-cv {
    text-align: center;
}

/* footer style */
.footer-cullom {
    display: flex;
    gap: 117px;
}

footer input {
    height: 64px;
    width: 461px;
    gap: 24px;
    margin-bottom: 24px;
    border-style: none;
    border-radius: 5px;
}

textarea {
    height: 180px;
    width: 461px;
    border-style: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}


footer {
    padding: 130px 230px;
}

footer p {
    margin-bottom: 30px;
}

footer button {
    margin-top: 24px;
}